---
layout: page
---

<article class="postWrapper">
  <section class="section--first is-darkBackgrounded u-table">
    <div class="section-backgroundImage">                  
      {% if page.image.feature %}
        <img class="post-featuredImage" src="{{ page.image.feature | prepend: site.baseurl_featured_img}}" style="
        {% if page.image.topPosition %}
          top:{{ page.image.topPosition }};
        {% endif %}
        " alt="">
      {% endif %}
    </div>    
  </section>
  </footer>
</article>

